* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

.logoClaveOnline {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  box-shadow: 0 2px 20px rgba(0, 0, 0, 0.1);
  height: 70.5px;
  border-bottom: #969a9c 1px solid;
}
.logoClaveOnline .logoPrincipal {
  background-color: #ddb00d;
}
.logoClaveOnline .logoPrincipal .logoPrincipal-container {
  width: 320px;
  height: 70px;
  margin: 0 auto;
  margin-bottom: 20px;
  background-image: url(../images/claveMobile.jpeg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

main {
  width: 100%;
  height: auto;
  margin-top: 100px;
}
main .cabecera .reproductor .music-container {
  width: 90%;
  min-width: 283px;
  max-width: 400px;
  border-radius: 28px;
  padding: 2.5px;
  display: flex;
  justify-content: center;
  margin: 0 auto 36px;
  /*color y sombreado*/
  background-color: #dbb50c;
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.4);
}
main .cabecera .reproductor .music-container audio {
  width: 100%;
}
main .cabecera .reproductor .music-container audio::-webkit-media-controls-panel {
  background-color: transparent;
  box-shadow: none;
}
main .cabecera h1 {
  font-family: "Roboto", sans-serif;
  text-align: center;
  font-size: 2.8rem;
  color: black;
  margin-bottom: 30px;
}
main .cabecera .presentacion {
  text-align: justify;
  padding: 0 20px 30px;
}
main .cabecera .presentacion p {
  font-family: "Roboto", sans-serif;
  font-size: 1.6rem;
  color: black;
}
main .cabecera .notiClaveOnline {
  text-align: justify;
  padding: 10px 20px 30px;
  background: linear-gradient(50deg, rgb(238, 231, 199) 10%, rgb(237, 235, 225) 50%, rgb(242, 241, 228) 100%);
  border-radius: 6px;
  margin-bottom: 30px;
}
main .cabecera .notiClaveOnline h2 {
  font-family: "Roboto", sans-serif;
  text-align: center;
  font-size: 2.5rem;
  color: black;
  margin-bottom: 12px;
}
main .cabecera .notiClaveOnline h3 {
  font-family: "Roboto", sans-serif;
  font-size: 2rem;
  color: black;
  text-shadow: #ddb00d 0.5px 0.5px 2px;
  margin-bottom: 15px;
}
main .cabecera .notiClaveOnline p {
  font-family: "Roboto", sans-serif;
  font-size: 1.6rem;
  line-height: 2.2rem;
  margin-bottom: 15px;
  color: black;
}
main .cabecera .notiClaveOnline img {
  width: 100%;
  border-radius: 8px;
  margin-bottom: 15px;
}
main .cabecera .publicidad .publicidad-container {
  width: 30rem;
  height: 20rem;
  position: relative;
  overflow: hidden;
  margin: 0 auto 30px;
}
main .cabecera .publicidad .publicidad-container .ad-image {
  width: 100%;
  height: 100%;
  border-radius: 6px;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}
main .cabecera .publicidad .publicidad-container .ad-image.active {
  opacity: 1;
}
main .cabecera .publicidad .publicidad-botones {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 30px;
}
main .cabecera .publicidad .publicidad-botones #prevButton, main .cabecera .publicidad .publicidad-botones #nextButton {
  background-color: #2168d3;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.4);
  color: white;
  padding: 10px 15px;
  border: 0.2px solid rgba(75, 73, 73, 0);
  border-radius: 8px;
  cursor: pointer;
}
main .noticiasClave .container-noticiasClave-telegram {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background: linear-gradient(54deg, rgb(255, 255, 255) 10%, rgb(50, 225, 237) 50%, rgb(26, 139, 219) 100%);
  color: black;
  font-size: 1.6rem;
  padding: 12px 20px;
  font-family: "Roboto", sans-serif;
}
main .noticiasClave .container-noticiasClave-telegram .img-noticiasClave-telegram .icoTele {
  width: 50px;
}
main .noticiasClave .container-noticiasClave-telegram .texto-noticiasClave {
  text-align: center;
  line-height: 30px;
}
main .noticiasClave .container-noticiasClave-telegram .texto-noticiasClave h2 {
  font-size: 1.7rem;
}
main .noticiasClave .container-noticiasClave-telegram .texto-noticiasClave .texB {
  font-size: 1.4rem;
}
main .noticiasClave .container-noticiasClave-telegram .texto-noticiasClave .enlace-noticiasClave a {
  text-decoration: none;
  color: black;
}
main .noticiasClave .container-noticiasClave {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background: linear-gradient(169deg, rgb(255, 255, 255) 10%, rgb(94, 255, 124) 50%, rgb(5, 97, 4) 100%);
  color: black;
  font-size: 1.6rem;
  padding: 12px 20px;
  font-family: "Roboto", sans-serif;
}
main .noticiasClave .container-noticiasClave .img-noticiasClave .icoWhats {
  width: 50px;
}
main .noticiasClave .container-noticiasClave .texto-noticiasClave {
  text-align: center;
  line-height: 30px;
}
main .noticiasClave .container-noticiasClave .texto-noticiasClave h2 {
  font-size: 1.7rem;
}
main .noticiasClave .container-noticiasClave .texto-noticiasClave .texB {
  font-size: 1.4rem;
}
main .noticiasClave .container-noticiasClave .texto-noticiasClave .enlace-noticiasClave a {
  text-decoration: none;
  color: black;
}
main .cajaDeComentarios {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  padding: 30px 0px;
  background: linear-gradient(207.8deg, #f7cc09 16.69%, #fff 100%);
}
main .sobreClave {
  text-align: justify;
  padding: 0 20px 30px;
  background-color: #fdf1bd;
}
main .sobreClave h2 {
  font-family: "Roboto", sans-serif;
  text-align: center;
  font-size: 2rem;
  color: black;
  margin-bottom: 10px;
}
main .sobreClave p {
  font-family: "Roboto", sans-serif;
  font-size: 1.4rem;
  color: black;
}

footer {
  width: 100%;
  height: auto;
}
footer .footer-container .up {
  display: flex;
  width: 100%;
  height: 130px;
  background-color: orange;
}
footer .footer-container .up section {
  display: flex;
  width: 50%;
  justify-content: center;
  align-items: center;
}
footer .footer-container .up .left ul {
  font-family: "Roboto", sans-serif;
  font-size: 1.4rem;
  font-weight: 300;
  line-height: 1.8rem;
  list-style: none;
}
footer .footer-container .up .left ul li {
  margin: 10px 0;
}
footer .footer-container .up .left ul li a {
  text-decoration: none;
  color: black;
}
footer .footer-container .up .right img {
  width: 90px;
  height: 90px;
  border-radius: 12px 2px 12px 2px;
}
footer .footer-container .down {
  width: 100%;
  height: auto;
  text-align: center;
  background-color: orange;
  color: black;
  padding-bottom: 20px;
}/*# sourceMappingURL=main.css.map */