*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html{
    font-size: 62.5%;
}
// VARIABLES
    // Fuentes de Texto
    $font-stack: "Roboto", sans-serif;

// CODIGO
 main {
    width: 100%;
    height: auto;

    // LOGO CLAVE ONLINE
    .logoClaveOnline {
        // Logo de Clave 99.3 FM
            .logoPrincipal {
                background-color: #ddb00d;
                .logoPrincipal-container {
                    width: 320px;
                    height: 70px;
                    margin: 0 auto;
                    margin-bottom: 20px;
                    background-image: url(../images/claveMobile.jpeg);
                    background-position: center;
                    background-repeat: no-repeat;
                    background-size: cover;
                }
            }
    }

    // CABECERA
    .cabecera {
        // REPRODUCTOR
        .reproductor {
            // Reproductor de la emisora
            .music-container {
                //dimensiones del contenedor
                width: 90%;
                min-width: 283px;
                max-width: 400px;
                border-radius: 28px;
                padding: 2.5px;
                // alineacion
                display: flex;
                justify-content: center;
                margin: 0 auto 36px;
                /*color y sombreado*/
                background-color: #dbb50c;
                box-shadow: 0 6px 8px rgba(0, 0, 0, 0.4);
                audio {
                    width: 100%;
                    &::-webkit-media-controls-panel {
                        background-color: transparent;
                        box-shadow: none;
                    }
                }
            }
        }
        // TITULO
        h1 {
            font-family: $font-stack;
            text-align: center;
            font-size: 2.6rem;
            color: black;
            margin-bottom: 30px;
        }
        //PRESENTACION
        .presentacion {
            text-align: justify;
            padding: 0 20px 30px;
            p {
                font-family: $font-stack;
                font-size: 1.4rem;
                color: black;
            }
        }
        //PUBLICIDAD
        .publicidad {
            .publicidad-container{
                //dimensiones
                width: 30rem;
                height: 20rem;
                position: relative;
                overflow: hidden;
                margin: 0 auto 30px;
                .ad-image {
                    width: 100%;
                    height: 100%;
                    border-radius: 6px;
                    position: absolute;
                    top: 0;
                    left: 0;
                    opacity: 0;
                    transition: opacity 0.5s ease-in-out;
                    &.active {
                        opacity: 1;
                    }
                }
            }
            .publicidad-botones {
                display: flex;
                justify-content: space-evenly;
                margin-bottom: 30px;
                #prevButton, #nextButton {
                    background-color: #2168d3;
                    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.4);
                    color: white;
                    padding: 10px 15px;
                    border: .2px solid rgba(75, 73, 73, 0);
                    border-radius: 8px;

                    cursor: pointer;


                }
            }
        }
    }

    //NOTICIAS CLAVE
    .noticiasClave{
        //telegram
        .container-noticiasClave-telegram{
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            background: linear-gradient(54deg,rgba(255, 255, 255, 1) 10%, rgba(50, 225, 237, 1) 50%, rgba(26, 139, 219, 1) 100%);
            color: black;
            font-size: 1.6rem;
            padding: 12px 20px;
            font-family: $font-stack;
            .img-noticiasClave-telegram{
                .icoTele{
                    width: 50px;
                }
            }
            .texto-noticiasClave{
                text-align: center;
                line-height: 30px;
                h2{
                    font-size: 1.7rem;
                }
                .texB{
                    font-size: 1.4rem;
                }
                .enlace-noticiasClave{
                    
                    a{
                        text-decoration: none;
                        color: black;
                    }
                }
        }    
        }
        //whatsapp
        .container-noticiasClave{
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            background: linear-gradient(169deg,rgba(255, 255, 255, 1) 10%, rgba(94, 255, 124, 1) 50%, rgba(5, 97, 4, 1) 100%);
            color: black;
            font-size: 1.6rem;
            padding: 12px 20px;
            font-family: $font-stack;
            .img-noticiasClave{
                .icoWhats{
                    width: 50px;
                }
            }
            .texto-noticiasClave{
                text-align: center;
                line-height: 30px;
                h2{
                    font-size: 1.7rem;
                }
                .texB{
                    font-size: 1.4rem;
                }
                .enlace-noticiasClave{
                    
                    a{
                        text-decoration: none;
                        color: black;
                    }
                }
            }
        }
    }

   
    //CAJA DE COMENTARIOS (revisar)
    .cajaDeComentarios {
        display: flex;
        justify-content: center;
        margin: 0 auto;
        padding: 30px 0px;
        background: linear-gradient(207.8deg, #f7cc09 16.69%, #fff 100%);
    }

    .sobreClave {
            text-align: justify;
            padding: 0 20px 30px;
            background-color: #fdf1bd;
            h2{
                font-family: $font-stack;
                text-align: center;
                font-size: 2rem;
                color: black;
                margin-bottom: 10px;
            }
            p {
                font-family: $font-stack;
                font-size: 1.4rem;
                color: black;
            }
    }
}
    // Footer
footer {
    width: 100%;
    height: auto;
    .footer-container {
        .up{
            display: flex;
            width: 100%;
            height: 130px;
            background-color: orange;
            section {
                display: flex;
                width: 50%;
                justify-content: center;
                align-items: center;
            }
            .left {
                ul {
                    font-family: $font-stack;
                    font-size: 1.4rem;
                    font-weight: 300;
                    line-height: 1.8rem;
                    list-style: none;
                    li {
                        margin: 10px 0;
                        a {
                            text-decoration: none;
                            color: black;
                        }
                    }
                }
            }
            .right {
                img {
                    width: 90px;
                    height: 90px;
                    border-radius: 12px 2px 12px 2px;
                }
            }
        }
        .down {
            width: 100%;
            height: auto;
            text-align: center;   
            background-color: orange; 
            color: black;
            padding-bottom: 20px;
        }
    }
}
