*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html{
    font-size: 62,5%;
}
main{
    width: 100%;
    height: auto;
}
header h1 {
    margin-top: 60px;
    text-align: center;
    font-family: 'Domine', serif;
    -webkit-text-stroke: 1px rgba(245, 229, 4, 0.4);/*borde de letras ,puede no ser compatible con todos los navegadores*/
    text-shadow: 2px 2px 4px rgba(245, 229, 4, 0.4);
}
/*logo Clave*/
.main-container{
    width: 320px;
    height: 320px;
    margin: 0 auto;
    margin-bottom: 20px;
}
.main-container_logo{
    width: 320px;
    height: 320px;
}

/*reproductor*/
main .musica{
    /*alineacion*/
    display: flex;
    justify-content: center;
    margin: 0 auto;
    margin-bottom: 50px;
    /*dimensiones del contenedor*/
    padding: 1.5px;
    width: 300px;
    border-radius: 28px;
    /*color y sombreado*/
    background-color: #dbb50c;
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.4);
}
main .musica audio{
    width: 100%;
}
    /*quita cualquier sombreado o fondo del panel de controles predeterminado del reproductor en navegadores basados en Webkit, como chrome y safari*/
main .musica audio::-webkit-media-controls-panel {
    background-color: transparent;
    box-shadow: none;
}
main .cajaDeComentarios {
    display: flex;
    justify-content: center;
    margin: 0 auto;
}